@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


.footer-flex {
    display: flex;
    align-items:center;
    font-family: inter;
    justify-content: space-evenly;
    height: 320px;
    width: 100%;
    background: #8d1b3d;
}

@media screen and (max-width: 768px){
    .footer-flex {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        width: 100%;
        flex-direction: column;
    }
}
@media screen and (max-width: 426px){
    .footer-flex {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
        width: 100%;
        flex-direction: column;
    }
}
article h1,
h4 {
    color: white;
    font-size: 20px;
}

.box-01 ul {
    list-style: none;
    height: 100px;
    display: flex;
    font-family: inter;
    font-size: 15px;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.box-01 li a {
    color: white;
    text-decoration: none;

}

.box-01 li a:hover {
    color: black;
    transition: 0.5s;
}

.box-02 ul {
    list-style: none;
    height: 100px;
    display: flex;
    font-family: inter;
    font-size: 15px;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

}

.box-02 li a {
    color: white;
    text-decoration: none;

}

.box-02 li a:hover {
    color: black;
    transition: 0.5s;
}

.box-03 ul {
    list-style: none;
    height: 100px;
    display: flex;
    font-family: inter;
    font-size: 15px;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
}

.box-03 li a {
    color: white;
    text-decoration: none;

}

.box-03 li a:hover {
    color: black;
    transition: 0.5s;
}


