@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




:root {
    --preto: #1F1E1E;
    --dark: #3C3939;
    --dark30: #F4F4F4;
    --azul: #2962FF;
    --verde: #0BB07B;
    --yellow: #FFCE52;
    --vermelho: #F03D3D;
    --cinza: #F03D3D;
    --footer: #8D1B3D;
    --fontinter: font-family: 'Inter', sans-serif;

}

.container-grid {
    width: 90%;
    margin: 0 auto;
    max-width: 1400px;

}

html {
    /* quando clica no link com a ID ele desce mais suave */
    scroll-behavior: smooth;

}

.banner {
    /* background: 
    linear-gradient(rgba(141,27,61,1), rgba(0,0,0,0.0)),
    url(assets/img/wallpaper.png); */
    background-image: url(assets/img/wallpaper.png);

    background-repeat: no-repeat;
    background-size: cover;
    height: 601px;
    position: relative;


}

.banner-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8D1B3D;
    opacity: 0.6;
    width: 100%;
    height: 100%;

}

.centro-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-grupos {
    display: flex;
    justify-content: center;
    align-items: center;

}

.titulo-grupos h1 {
    font-family: var(--fontinter);
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 2px;
    margin-top: 15px;

}
/* Estilizando os card em wrap para ficar responsivel */
.cards-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-top: 30px;
   


}

.card{
    display: flex;
   
}
/* Estilzando o tamanho das caixa, cor de fundo e bordar arredondada 
Nesta classe o itens dica em columa*/
.info-card {

    display: flex;
    flex-direction: column;
    width: 384px;
   height: 428px;
   background-color: #F4F4F4;
   border-radius: 8px;
   
 }
 .titulo-card h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;

 }
 /* Nesta classe os itens do container ficam em linha */
 .card-flex{
    display: flex;
    flex-direction: row;
    padding: 30px;

}

/* Estilizando o tamanho das imagens */
.info-card img{
    width: 60px;
    height: 45px;
    position: relative;

}
/* Nesta classe estilizei o nome dos times  */
.info-card h1{
    padding-left: 40px;
    font-family: var(--fontinter);
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}


